 /* body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;

	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  }  */
  .login-box {
	width: 400px;
	padding: 40px;
	background: linear-gradient(#8b0a1a, #ff3737);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
	border-radius: 10px;
	
  }

  
  .login-box .user-box {
	position: relative;
  }
  
  .login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
  }
  
  .login-box .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:active ~ label {
	top: -20px;
	left: 0;
	color: #FF0000;
	font-size: 12px;
  }

  


  .css-1588512-MuiButtonBase-root-MuiButton-root {

    text-transform: none !important;

    --variant-textColor:linear-gradient(360deg, transparent, #FF0000) !important ;
  }