

body {
  font-family: Arial, sans-serif;

}

/* Navbar Styles */
.navbar {
  background-color: #000066;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin: 0 15px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #ffcc00;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #000066;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    display: none;
  }

  .nav-links.active {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .nav-item {
    margin: 10px 0;
  }
}






/* ////////////////////////////////////////////////// */
.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {

  padding: 9.5px 14px !important;
}
.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
 
  padding: 9.5px 14px !important;
}
.css-rmkcod-MuiNativeSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 9.5px 14px !important;
}

.css-1qw2a80-MuiGrid-root>.MuiGrid-item {
  padding-left: 0 !important;
}

.css-1qw2a80-MuiGrid-root>.MuiGrid-item {
  padding-left: 0 !important;
}


.css-ylowct-MuiGrid-root>.MuiGrid-item {
  padding-left: 0 !important;
}
.css-ylowct-MuiGrid-root>.MuiGrid-item {
  padding-left: 0 !important;
}