body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 240px;
	background: linear-gradient(#F7A407 , #128A00 ) !important;
  position: fixed;
  height: 100%;

}

.sidebar a {
  display: block;
  color: black;
  font-weight: 600;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: hwb(39 28% 24%);
  color: white;
}

.sidebar a:hover:not(.active) {
  /* background-color: #8b0a1a; */
  color: white;                                                       
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}



